.navbar-collapse {
  transition: height 0.6s;
  overflow: hidden;
}

.navbar-collapse.show {
  height: auto;
}

nav {
  background-color: var(--second-color);
  transition: 0.6s;
}

nav .navbar-toggler:focus {
  box-shadow: none;
}

.nav-link {
  color: #fff;
  width: fit-content;
}

.nav-link:hover {
  color: #fff;
}

.icon-menu {
  color: #fff;
  font-size: 23px;
}

nav .nav-link {
  border-radius: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
}

.active .nav-link {
  background-color: #1abc9c;
  color: #fff;
}